@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2"), url("../fonts/roboto.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2"), url("../fonts/robotomedium.woff");
    font-weight: 500;
}

body {
    width: 100%;
    font-family: "Roboto", Arial, sans-serif;
}

.wrap {
    width: 1160px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.main-header .wrap {
    display: flex;
    flex-direction: row;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 201px;
    padding-top: 25px;
    width: 514px;
    flex-wrap: wrap;
}

.navigation-list .navigation-item {
    margin-right: 46px;
}

.main-navigation {
    display: flex;
    flex-direction: row;
}

.navigation-active span {
    color: #000000;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding: 25px 0px;
    padding-top: 0;
}

.navigation-active span::before {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 20px;
    left: 0px;
    height: 2px;
    width: 74px;
    background-color: #fb565a;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.3;
}

.main-header {
    background-color: #eeeeee;
    padding-top: 50px;
}

.navigation-item a {
    color: #000000;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.navigation-item a:hover {
    color: #fb565a;
}

.navigation-item a:active {
    color: #000000;
    opacity: 0.3;
}

.cart {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    margin-left: 150px;
    padding-left: 60px;
    padding-top: 25px;
}

.cart::before {
    content: "";
    position: absolute;
    top: 33px;
    left: 20px;
    width: 15px;
    height: 15px;
    background: url(../img/sprite-nerds.png) no-repeat;
    background-position: 0 0;
    opacity: 1;
}

.cart:hover {
    color: #fb565a;
}

.cart:active {
    color: #000000;
    opacity: 0.3;
}

.cart:active::before {
    opacity: 1;
}

.promo .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.promo {
    background-color: #eeeeee;
    margin-bottom: 80px;
}

.slide-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    width: 520px;
}

.slide p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 410px;
    padding-top: 10px;
}

.slider {
    position: relative;
    width: 1200px;
    min-height: 430px;
    margin: 0 auto;
    z-index: 1;
}

.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    bottom: 104px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}

.slider-controls label {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 6px;
    background: white;
    border: 6px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background: #c1c1c1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}

.slide-text {
    width: 380px;
    color: #283136;
    padding-top: 43px;
}

.slide .btn {
    display: block;
    width: 240px;
    padding: 16px 0;
    margin-top: 41px;
    line-height: 18px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
}

.slide .btn:hover {
    background: #e74246;
}

.slide .btn:active {
    background: #d7373b;
    box-shadow: inset 0 3px 0 -1px #c13135;
}

.slide:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-position: 93% 17px;
}

.slide:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-position: 100% 0;

}

.slide:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-position: 100% 19px;
}

.slide {
    display: none;
    padding-top: 30px;
    width: 100%;
    background-repeat: no-repeat;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

.features .wrap {
    display: flex;
    flex-direction: row;
    border-bottom: solid #eeeeee 2px;
    width: 1160px;
    padding-bottom: 80px;
    margin-bottom: 37px;
}

.features-description {
    width: 260px;
}

.features-description h3 {
    line-height: 30px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.features-description p {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400px;
}

.features-left {
    margin-right: 100px;
}

.features-left::before {
    content: "";
    display: block;
    background: #fb565a;
    background-image: url("../img/illustration-1.jpg");
    background-repeat: no-repeat;
    width: 300px;
    height: 146px;
}

.features-center {
    margin-right: 100px;
}

.features-center::before {
    content: "";
    display: block;
    background: #00ca74;
    background-image: url("../img/illustration-2.jpg");
    background-repeat: no-repeat;
    width: 300px;
    height: 146px;
}

.features-right::before {
    content: "";
    display: block;
    background: #efc849;
    background-image: url("../img/illustration-3.jpg");
    background-repeat: no-repeat;
    width: 300px;
    height: 146px;
}

.features-description .btn {
    display: block;
    width: 160px;
    padding: 16px 0;
    margin-top: 34px;
    line-height: 18px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
}

.features-description .btn:hover {
    background: #e74246;
}

.features-description .btn:active {
    background: #d7373b;
    box-shadow: inset 0 3px 0 -1px #c13135;
}

.features-description .features-center-btn {
    background: #00ca74;
}

.features-description .features-center-btn:hover {
    background: #00bc6c;
}

.features-description .features-center-btn:active {
    background: #00aa62;
    box-shadow: inset 0 3px 0 -1px #009958;
}

.features-description .features-right-btn {
    background: #efc84a;
}

.features-description .features-right-btn:hover {
    background: #eab534;
}

.features-description .features-right-btn:active {
    background: #e5a722;
    box-shadow: inset 0 3px 0 -1px #ce961f;
}

.index-info .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid #eeeeee 2px;
    padding-bottom: 46px;
}

.index-container {
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.index-info-description {
    width: 660px;
}

.index-info-description h2 {
    line-height: 45px;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 33px;
}

.index-info-description p {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
}

.index-info-description ul {
    padding: 0;
    margin: 0;
}

.index-info-description li::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 25px;
    height: 2px;
    background: #fb565a;
}

.index-info-title {
    display: block;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 38px;
}

.index-info-description ul {
    list-style: none;
    margin-top: 24px;
}

.index-info-description li {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 36px;
    position: relative;
    margin-bottom: 25px;
}

.stat-title {
    display: block;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 38px;
    margin-bottom: 41px;
    padding-left: 17px;
}

.stat-percent {
    display: block;
    line-height: 45px;
    font-size: 45px;
    font-weight: 500;
    margin-right: 18px;
    margin-bottom: 19px;
}

sup {
    top: -0.4em;
}

.stat-description {
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
}

.index-info-stat::before {
    content: "";
    display: block;
    background-image: url("../img/nerds-illustration.jpg");
    background-repeat: no-repeat;
    width: 360px;
    height: 208px;

}

.partners-logos-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border-bottom: solid #eeeeee 2px;
    width: 1160px;
    padding-bottom: 39px;

}

.partners-logos-list li {
    position: relative;
}

.partners-logos-list li:first-child::before {
    position: absolute;
    content: "";
    top: 26px;
    left: 279px;
    width: 2px;
    height: 52px;
    background: #eeeeee;
}

.partners-logos-list li:nth-child(2)::before {
    position: absolute;
    content: "";
    top: 26px;
    left: 349px;
    width: 2px;
    height: 52px;
    background: #eeeeee;
}

.partners-logos-list li:nth-child(3)::before {
    position: absolute;
    content: "";
    top: 26px;
    left: 319px;
    width: 2px;
    height: 52px;
    background: #eeeeee;
}

.partners-logos-list li:last-child::before {
    position: absolute;
    content: "";
    background: none;
}

.partner-logo {
    opacity: 0.2;
}

.partner-logo:hover {
    opacity: 1;
}

.partner-logo:active {
    opacity: 0.1;
}

.partners-logos .wrap {
    margin-bottom: 33px;
    border-bottom: none;
}

.logo-one {
    padding-top: 24px;
    padding-left: 31px;
}

.logo-two {
    padding-right: 25px;
    padding-top: 10px;
    padding-left: 96px;

}

.logo-three {
    padding-right: 69px;
    padding-top: 28px;
    padding-left: 78px;
}

.logo-four {
    padding-top: 14px;
    padding-left: 52px;
    padding-right: 30px;
}

.map .wrap {
    position: relative;
    background: #eeece5;
    background-image: url("../img/map.jpg");
    width: 1280px;
    height: 416px;
}

.map-address {
    position: absolute;
    content: "";
    top: 55px;
    left: 5%;
    box-sizing: border-box;
    width: 319px;
    height: 309px;
    background-color: #ffffff;
}

.map-address h2 {
    display: block;
    width: 220px;
    margin: 0 auto;
    padding-top: 49px;
    padding-bottom: 23px;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 30px;
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
}

.map-address p {
    display: block;
    width: 220px;
    margin: 0 auto;
    padding-bottom: 18px;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.map-address span {
    display: block;
    width: 220px;
    margin: 0 auto;
    padding-bottom: 37px;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}

.map-address .btn {
    display: block;
    width: 220px;
    padding: 16px 0;
    line-height: 18px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
    margin: 0 auto;
}

.map-address::before {
    position: absolute;
    content: "";
    top: 34px;
    left: 238%;
    background: transparent url("../img/map-marker.png");
    width: 231px;
    height: 190px;
    z-index: 2;
}

.map-address .btn:hover {
    background: #e74246;
}

.map-address .btn:active {
    background: #d7373b;
    box-shadow: inset 0 3px 0 -1px #c13135;
}

.modal-content {
    display: none;
    position: absolute;
    content: "";
    top: -140px;
    left: 50%;
    transform: translate(-50%, 0);
    box-sizing: border-box;
    width: 960px;
    height: 590px;
    background: #ffffff;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.feedback {
    width: 760px;
    margin: 0 auto;
}

.feedback legend {
    font-family: "Roboto", Arial, sans-serif;
    line-height: 45px;
    font-size: 45px;
    font-weight: 500;
    color: black;
    margin-top: 80px;
    margin-bottom: 40px;
}

.name,
.mail {
    display: inline-block;
    vertical-align: top;
    width: 360px;
}

.name {
    margin-right: 35px;
}

.name label {
    display: block;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.name input {
    display: block;
    box-sizing: border-box;
    width: 360px;
    border: 2px solid #b8b8b8;
    border-radius: 3px;
    padding: 15px 15px;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
}

.mail label {
    display: block;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.mail input {
    display: block;
    box-sizing: border-box;
    width: 360px;
    border: 2px solid #b8b8b8;
    border-radius: 3px;
    padding: 15px 15px;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
}

.letter-area label {
    display: block;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 40px;
}

.letter-area textarea {
    box-sizing: border-box;
    width: 760px;
    border: 2px solid #b8b8b8;
    border-radius: 3px;
    padding: 15px 15px;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    margin-bottom: 30px;
}

.feedback .btn {
    display: block;
    box-sizing: border-box;
    border: none;
    width: 260px;
    padding: 16px 0;
    line-height: 18px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
    outline: 0 none;
}

.feedback .btn:hover {
    background: #e74246;
    outline: 0 none;
}

.feedback .btn:active {
    background: #d7373b;
    box-shadow: inset 0 3px 0 -1px #c13135;
    outline: 0 none;
}

.modal-content-close {
    position: absolute;
    top: 90px;
    right: 93px;
    width: 22px;
    height: 22px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background: transparent;
    outline: 0 none;
}

.modal-content-close:hover, .modal-content-close:active {
    outline: 0 none;
}

.modal-content-close::before, .modal-content-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 22px;
    height: 5px;
    background-color: #fb565a;
    border-radius: 1px;
    opacity: 1;
}

.modal-content-close:hover::before, .modal-content-close:hover::after {
    background-color: #e74246;
}

.modal-content-close:active::before, .modal-content-close:active::after {
    background-color: #d7373b;
}

.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
    transform: rotate(-45deg);
}

@keyframes zoomin {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes shake {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate(-51%, 0);
    }
    20%, 40%, 60%, 80% {
        transform: translate(-49%, 0);
    }
}

.modal-content-show {
    display: block;
    animation: zoomin 0.6s;
}

.modal-error {
    animation: shake 2s;
}

/* footer */

.main-footer .wrap {
    display: flex;
    flex-direction: row;
}

.main-footer {
    margin-top: 67px;
    padding-bottom: 35px;
}

.social-btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    text-decoration: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: #e1e1e1;
    margin-right: 6px;
}

.social-btn:hover {
    background: #e74246;
}

.social-btn:active {
    background: #d7373b;
}

.social-btn::before {
    content: "";
    background-image: url("../img/sprite-nerds.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-btn-vk::before {
    width: 26px;
    height: 15px;
    background-position: 0 -331px;
}

.social-btn-fb::before {
    width: 12px;
    height: 22px;
    background-position: 0 -258px
}

.social-btn-inst::before {
    width: 21px;
    height: 21px;
    background-position: 0 -295px;
}

.social-btn-vk:active::before,
.social-btn-fb:active::before,
.social-btn-inst:active::before {
    opacity: 0.3;
}

.footer-info h3 {
    line-height: 36px;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    margin-top: 8px;
    margin-left: 133px;
}

.footer-info p {
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    margin-top: 10px;
    margin-left: 134px;
}

/* catalog */

.promo-inner {
    background: #eeeeee;
    padding-top: 15px;
    padding-bottom: 50px;
    text-align: center;
}

.promo-inner h1 {
    line-height: 55px;
    font-size: 55px;
    color: #000000;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 20px;
}

.content-inner {
    margin-top: 56px;
}

.content-inner .wrap {
    display: flex;
    flex-direction: row;
}

.left-column {
    margin-right: 140px;
}

.form-title {
    font-family: "Roboto", Arial, sans-serif;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.range-filter {
    width: 260px;
    margin-top: 48px;
    margin-bottom: 58px;
}

.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    font-size: 18px;
    display: inline-block;
    width: 50%;
}

.max-price {
    text-align: right;
}

.price-controls input {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.content-inner fieldset {
    border: none;
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #283136;
}

.content-inner legend {
    font-family: "Roboto", Arial, sans-serif;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    position: relative;
    display: block;
    cursor: pointer;
    margin: 10px 0;
    line-height: 20px;
    padding-left: 36px;
    padding-top: 5px;
    margin-bottom: 16px;
}

input[type="radio"] + label::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 4px solid #b8b8b8;
    border-radius: 20px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="radio"]:checked + label::after {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    border: 4px solid #b8b8b8;
    border-radius: 20px;
    background-color: #b8b8b8;
    position: absolute;
    top: 7px;
    left: 7px;
}

input[type="radio"]:disabled + label::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 4px solid #ededed;
    border-radius: 20px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="radio"]:disabled:checked + label::after {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    border: 4px solid #ededed;
    border-radius: 20px;
    background-color: #ededed;
    position: absolute;
    top: 7px;
    left: 7px;
}

input[type="radio"] + label:hover::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 4px solid #4d4d4d;
    border-radius: 20px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="radio"]:checked + label:hover::after {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    border: 4px solid #4d4d4d;
    border-radius: 20px;
    background-color: #4d4d4d;
    position: absolute;
    top: 7px;
    left: 7px;
}

.left-column .filters-radio {
    margin-bottom: 27px
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    margin: 15px 0;
    line-height: 20px;
    padding-left: 36px;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

input[type="checkbox"] + label::before {
    content: "";
    width: 24px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/sprite-nerds.png");
    background-repeat: no-repeat;
    background-position: 0 -30px;
}

input[type="checkbox"]:checked + label::before {
    width: 27px;
    background-position: 0 -144px;
}

input[type="checkbox"]:disabled + label::before {
    background-position: 0 -68px;
}

input[type="checkbox"]:disabled:checked + label::before {
    width: 27px;
    background-position: 0 -182px;
}

input[type="checkbox"] + label:hover::before {
    background-position: 0 -106px;
}

input[type="checkbox"]:checked + label:hover::before {
    width: 27px;
    background-position: 0 -220px;
}

.filters .filters-group-btn {
    border: none;
    cursor: pointer;
}

.filters-group-btn {
    display: block;
    width: 260px;
    padding: 17px 0;
    margin-top: 29px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", Arial, sans-serif;
    background: #eeeeee;
    border-radius: 3px;
    outline: 0 none;
}

.filters-group-btn:hover {
    background: #dfdfdf;
    outline: 0 none;
}

.filters-group-btn:active {
    background: #d5d5d5;
    box-shadow: inset 0 3px 0 -1px #bfbfbf;
    outline: 0 none;
}

.sort {
    display: flex;
    flex-direction: row;
}

.sort-info {
    display: block;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 18px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 3px;
}

.sort ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 226px;
    margin-top: 4px
}

.sort-list .sort-item {
    width: 86px;
}

.sort-item a {
    display: block;
    color: #cccccc;
}

.sort-item a:hover {
    color: #999999;
}

.sort-item a:active {
    color: #000000;
}

.sort-item-active a {
    color: #000000;
}

.sort-item-active a:hover {
    color: #000000;
}

.sort-item a:last-child {
    width: 102px;
}

.sort-btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.sort-btn a {
    display: block;
}

.sort .sort-list-direct {
    margin-left: 24px;
    margin-top: 9px;
}

.sort-btn-up {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #cccccc transparent transparent transparent;
    margin-right: 18px;
}

.sort-btn-down {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #cccccc transparent;
}

.sort-btn-up:hover {
    border-color: #999999 transparent transparent transparent;
}

.sort-btn-down:hover {
    border-color: transparent transparent #999999 transparent;
}

.sort-btn-up:active {
    border-color: #000000 transparent transparent transparent;
}

.sort-btn-down:active {
    border-color: transparent transparent #000000 transparent;
}

.sort-btn-down.sort-btn-active {
    border-color: transparent transparent #000000 transparent;
}

.sort-btn-up.sort-btn-active {
    border-color: #000000 transparent transparent transparent;
}

.items {
    display: flex;
    flex-direction: row;
    width: 760px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 56px;
}

.item {
    position: relative;
    border-top: 40px solid #f1f1f1;
    border-radius: 3px;
    margin-bottom: 32px;
}

.item:hover {
    cursor: pointer;
    border-color: #4d4d4d;
    box-shadow: 0 0 6px 0 #aba9a7;
}

.item::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 25px;
    top: -27px;
    left: 16px;
    background: #fb565a;
}

.item::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 25px;
    top: -27px;
    left: 40px;
    background: #efc84a;
}

.item-img {
    position: relative;
}

.item-img::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 25px;
    top: -27px;
    left: 63px;
    background: #00ca74;
}

.item-description {
    display: none;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 360px;
    min-height: 230px;
    text-align: center;
    background: #eeeeee;
}

.item:hover > .item-description {
    display: block;
}

.item-name {
    display: block;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    padding-top: 22px;
}

.item-about {
    display: block;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    width: 190px;
    margin: 0 auto;
    padding-top: 15px;
}

.item-description .item-btn {
    display: block;
    box-sizing: border-box;
    border: none;
    width: 200px;
    padding: 16px 0;
    line-height: 18px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 31px;
}

.item-description .item-btn:hover {
    background: #e74246;
}

.item-description .item-btn:active {
    background: #d7373b;
    box-shadow: inset 0 3px 0 -1px #c13135;
}

.pagination-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 460px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 61px;
    margin-top: 25px;
}

.pagination-item {
    display: block;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", Arial, sans-serif;
    background: #eeeeee;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 11px;
    padding-top: 19px;
    padding-bottom: 14px;
    padding-right: 20px;
    padding-left: 21px;
}

.pagination-item a {
    color: #000000;
}

.pagination-item:hover {
    background: #dfdfdf;
}

/* проблема */

.pagination-item:active {
    background: #d5d5d5;
    box-shadow: inset 0 3px 0 -1px #bfbfbf;
}

.pagination-item-next {
    width: 255px;
    padding-right: 6px;
    margin-right: 16px;
    padding-left: 0;
}

.pagination-item-active {
    background: transparent;
    box-shadow: inset 0 0 0 3px #bfbfbf;
}

.pagination-item-active:hover {
    background: transparent;
    box-shadow: inset 0 0 0 3px #bfbfbf;
}

.pagination-item-active:active {
    background: transparent;
    box-shadow: inset 0 0 0 3px #bfbfbf;
}



