@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2"), url("../fonts/roboto.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2"), url("../fonts/robotomedium.woff");
    font-weight: 500;
}

body {
    width: 1440px;
    font-family: "Roboto", Arial, sans-serif;
}

.wrap {
    width: 1160px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.navigation-list {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-header .wrap {
    display: flex;
    flex-direction: row;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
}

.main-navigation {
    display: flex;
    flex-direction: row;
}

.navigation-active span {
    color: #000000;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    position: relative;
    display: block;
    padding: 25px 20px;
    padding-top: 0;
}

.navigation-active span::before {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    height: 5px;
    background-color: #fb565a;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.3;
}

.promo .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider {
    position: relative;
    width: 1200px;
    height: 423px;
    margin: 0 auto;
}

.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}

.slider-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    background: white;
    border: 3px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background: #c1c1c1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-text {
    width: 380px;
    padding: 30px 0;
    color: #283136;
}

.slide-title {
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    color: black;
}

.slide .btn {
    display: block;
    width: 240px;
    padding: 10px 0;
    margin-top: 25px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
}

.slide .btn:hover {
    background: #e74246;
}

/* проблема */

.slide .btn:active {
    background: #d7373b;
    box-shadow: inset 0 3px 0 -1px #c13135;
}

.slide:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 100% 10px;
    padding-bottom: 100px;
    width: 100%;
}

.slide:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 10px;
    padding-bottom: 100px;
    width: 100%;
}

.slide:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    padding-bottom: 100px;
    width: 100%;
}

.slide {
    display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

.features .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid #eeeeee 2px;
}

.index-info .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid #eeeeee 2px;
}

.index-container {
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.index-info-stat::before {
    content: "";
    display: block;
    background-image: url("../img/nerds-illustration.jpg");
    background-repeat: no-repeat;
    width: 360px;
    height: 208px;

}

.partners-logos-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border-bottom: solid #eeeeee 2px;
    width: 1160px;
}

.partners-logos-list li {
    position: relative;
}

.partners-logos-list li::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 265px;
    width: 2px;
    height: 52px;
    background: #eeeeee;
}

.partners-logos-list li:last-child::before {
    position: absolute;
    content: "";
    background: none;
}

.partner-logo {
    opacity: 0.2;
}

.partner-logo:hover {
    opacity: 1;
}

.partner-logo:active {
    opacity: 0.1;
}

.main-footer .wrap {
    display: flex;
    flex-direction: row;
}

.map {
    overflow: hidden;
    background-image: url("../img/map.jpg");
    width: 1440px;
    height: 416px;
}

.social-btn {
    position: relative;
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: #e1e1e1;
}

.social-btn:hover {
    background: #e74246;
}

.social-btn:active {
    background: #d7373b;
}

.social-btn::before {
    content: "";
    background-image: url("../img/sprite-nerds.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-btn-vk::before {
    width: 26px;
    height: 15px;
    background-position: 0 -331px;
}

.social-btn-fb::before {
    width: 12px;
    height: 22px;
    background-position: 0 -258px
}

.social-btn-inst::before {
    width: 21px;
    height: 21px;
    background-position: 0 -295px;
}

.social-btn-vk:active::before,
.social-btn-fb:active::before,
.social-btn-inst:active::before {
    opacity: 0.3;
}

/* catalog */

.promo-inner {
    background: #eeeeee;
    padding-top: 15px;
    padding-bottom: 50px;
    text-align: center;
}

.promo-inner h1 {
    line-height: 55px;
    font-size: 55px;
    color: #000000;
    font-weight: 500;
}

.content-inner .wrap {
    display: flex;
    flex-direction: row;
}

.range-filter {
    width: 260px;
}

.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
    left: 50px;
}

.range-controls .toggle-max {
    left: 110px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    font-size: 16px;
    display: inline-block;
    width: 50%;
}

.max-price {
    text-align: right;
}

.price-controls input {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.content-inner fieldset {
    border: none;
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #283136;
}

.content-inner legend {
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: block;
    margin: 10px 0;
    line-height: 20px;
    padding-left: 45px;
    position: relative;
    cursor: pointer;
}

input[type="radio"] + label::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 4px solid #b8b8b8;
    border-radius: 20px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="radio"]:checked + label::after {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    border: 4px solid #b8b8b8;
    border-radius: 20px;
    background-color: #b8b8b8;
    position: absolute;
    top: 7px;
    left: 7px;
}

input[type="radio"]:disabled + label::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 4px solid #ededed;
    border-radius: 20px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="radio"]:disabled:checked + label::after {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    border: 4px solid #ededed;
    border-radius: 20px;
    background-color: #ededed;
    position: absolute;
    top: 7px;
    left: 7px;
}

input[type="radio"] + label:hover::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 4px solid #4d4d4d;
    border-radius: 20px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="radio"]:checked + label:hover::after {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    border: 4px solid #4d4d4d;
    border-radius: 20px;
    background-color: #4d4d4d;
    position: absolute;
    top: 7px;
    left: 7px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    margin: 10px 0;
    line-height: 20px;
    padding-left: 42px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/sprite-nerds.png");
    background-repeat: no-repeat;
    background-position: 0 -30px;
}

input[type="checkbox"]:checked + label::before {
    width: 27px;
    background-position: 0 -144px;
}

input[type="checkbox"]:disabled + label::before {
    background-position: 0 -68px;
}

input[type="checkbox"]:disabled:checked + label::before {
    width: 27px;
    background-position: 0 -182px;
}

input[type="checkbox"] + label:hover::before {
    background-position: 0 -106px;
}

input[type="checkbox"]:checked + label:hover::before {
    width: 27px;
    background-position: 0 -220px;
}

.filters .filters-group-btn {
    border: none;
    cursor: pointer;
}

.filters-group-btn {
    display: block;
    width: 260px;
    padding: 10px 0;
    margin-top: 25px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", Arial, sans-serif;
    background: #eeeeee;
    border-radius: 3px;
}

.filters-group-btn:hover {
    background: #dfdfdf;
}

/* проблема */

.filters-group-btn:active {
    background: #d5d5d5;
    box-shadow: inset 0 3px 0 -1px #bfbfbf;
}

.sort {
    display: flex;
    flex-direction: row;
}

.sort ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.sort-btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.sort-btn a {
    display: block;
}

.sort-btn-up {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #cccccc transparent transparent transparent;
}

.sort-btn-down {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #cccccc transparent;
}

.sort-btn-up:hover {
    border-color: #999999 transparent transparent transparent;
}

.sort-btn-down:hover {
    border-color: transparent transparent #999999 transparent;
}

.sort-btn-up:active {
    border-color: #000000 transparent transparent transparent;
}

.sort-btn-down:active {
    border-color: transparent transparent #000000 transparent;
}

.sort-btn-down.sort-btn-active {
    border-color: transparent transparent #000000 transparent;
}

.sort-btn-up.sort-btn-active {
    border-color: #000000 transparent transparent transparent;
}

.items {
    display: flex;
    flex-direction: row;
    width: 760px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    border-top: 30px solid #f1f1f1;
    border-radius: 3px;
}

.item-description {
    display: none;
}

.pagination-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 460px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.pagination-item {
    display: block;
    width: 50px;
    padding: 10px 0;
    margin-top: 25px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", Arial, sans-serif;
    background: #eeeeee;
    border-radius: 3px;
    cursor: pointer;
}

.pagination-item a {
    color: #000000;
}

.pagination-item:hover {
    background: #dfdfdf;
}

/* проблема */

.pagination-item:active {
    background: #d5d5d5;
    box-shadow: inset 0 3px 0 -1px #bfbfbf;
}

.pagination-item-next {
    width: 260px;
}

.pagination-item-active {
    background: transparent;
    box-shadow: inset 0 0 0 3px #bfbfbf;
}

.pagination-item-active:hover {
    background: transparent;
    box-shadow: inset 0 0 0 3px #bfbfbf;
}

.pagination-item-active:active {
    background: transparent;
    box-shadow: inset 0 0 0 3px #bfbfbf;
}

/*оформление*/

.main-header {
    background-color: #eeeeee;
}

.navigation-list {
    padding-left: 60px;
    padding-top: 25px;
}

.navigation-item a {
    color: #000000;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
}

.navigation-item a:hover {
    color: #fb565a;
}

.navigation-item a:active {
    color: #000000;
    opacity: 0.3;
}

.cart {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    margin-left: 110px;
    padding-left: 60px;
    padding-top: 25px;
}

.cart::before {
    content: "";
    position: absolute;
    top: 33px;
    left: 20px;
    width: 15px;
    height: 15px;
    background: url(../img/sprite-nerds.png) no-repeat;
    background-position: 0 0;
    opacity: 1;
}

.cart:hover {
    color: #fb565a;
}

.cart:active {
    color: #000000;
    opacity: 0.3;
}

/* проблемка */

.cart:active::before {
    opacity: 1;
}

.promo {
    background-color: #eeeeee;
    padding-top: 50px;
}

.slide-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    width: 520px;
}

.slide p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 410px;
}

.features-description {
    width: 260px;
}

.features-description h3 {
    line-height: 30px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.features-description p {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400px;
}

.features-left {
}

.features-left::before {
    content: "";
    display: block;
    background-image: url("../img/illustration-1.jpg");
    background-repeat: no-repeat;
    width: 300px;
    height: 146px;
}

.features-center::before {
    content: "";
    display: block;
    background-image: url("../img/illustration-2.jpg");
    background-repeat: no-repeat;
    width: 300px;
    height: 146px;
}

.features-right::before {
    content: "";
    display: block;
    background-image: url("../img/illustration-3.jpg");
    background-repeat: no-repeat;
    width: 300px;
    height: 146px;
}

.features-description .btn {
    display: block;
    width: 160px;
    padding: 10px 0;
    margin-top: 25px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
}

.features-description .btn:hover {
    background: #e74246;
}

/* проблема */

.features-description .btn:active {
    background: #d7373b;
    box-shadow: inset 0 3px 0 -1px #c13135;
}

.features-description .features-center-btn {
    background: #00ca74;
}

.features-description .features-center-btn:hover {
    background: #00bc6c;
}

/* проблема */

.features-description .features-center-btn:active {
    background: #00aa62;
    box-shadow: inset 0 3px 0 -1px #009958;
}

.features-description .features-right-btn {
    background: #efc84a;
}

.features-description .features-right-btn:hover {
    background: #eab534;
}

/* проблема */

.features-description .features-right-btn:active {
    background: #e5a722;
    box-shadow: inset 0 3px 0 -1px #ce961f;
}

.index-info-description {
    width: 660px;
}

.index-info-description h2 {
    line-height: 45px;
    font-size: 45px;
    font-weight: 500;
}

.index-info-description p {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
}

.index-info-description ul {
    padding: 0;
    margin: 0;
}

.index-info-description li {
    padding-left: 40px;
    position: relative;
}

.index-info-description li::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 25px;
    height: 2px;
    background: #fb565a;
}

.index-info-title {
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.index-info-description ul {
    list-style: none;
}

.index-info-description li {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
}

.stat-title {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.stat-percent {
    line-height: 45px;
    font-size: 45px;
    font-weight: 500;
}

.stat-description {
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
}

.footer-info h3 {
    line-height: 36px;
    font-size: 36px;
    font-weight: 500;
}

.footer-info p {
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
}